body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.subtitle {
  color: $color-yellow ;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.title {
  color: $color-dark-purple;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.main-btn {
  color: $color-main;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.192px;

  border-radius: 4px;
  background: $color-green;

  border: none;
  cursor: pointer;

  &_size_s {
    padding: 12px 24px;
  }

  &_size_m {
    padding: 16px 36px;

    @media (max-width:565px) {
      padding: 12px 24px;
    }

  }
}

@media (max-width:565px) {
  .subtitle {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
  }
}