@font-face {
  font-family: "Next-Art";
  src:
    url("./assets/fonts/NEXT_ART_Bold.woff2") format("woff2"),
    url("./assets/fonts/NEXT_ART_Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: "Nunito Sans";
  src:
    url("./assets/fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src:
    url("./assets/fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src:
    url("./assets/fonts/NunitoSans-Black.woff2") format("woff2"),
    url("./assets/fonts/NunitoSans-Black.woff2") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

// @font-face {
//   font-family: "Next-Art";
//   src:
//     url("./assets/fonts/NEXT_ART_Heavy.woff2") format("woff2"),
//     url("./assets/fonts/NEXT_ART_Heavy.woff") format("woff");
//   font-weight: 900;
//   font-display: swap;
//   font-style: normal;
// }