.hero {
  background-image: url("./assets/image/hero-img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    padding: 470px 10px 125px;

    @media (max-width:980px) {
      padding: 300px 10px 80px;
    }

    @media (max-width:565px) {
      padding: 230px 10px 50px;
    }
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0 0 42px;

    color: $color-main;

    font-family: "Next-Art";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.55px;

    @media (max-width:768px) {
      font-size: 38px;
    }

    @media (max-width:565px) {
      margin: 0 0 32px;
      font-size: 28px;
      letter-spacing: unset;
    }
  }

  &__form {
    padding: 40px;

    display: flex;
    gap: 24px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);

    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }

    @media (max-width:565px) {
      padding: unset;
      background: none;
      backdrop-filter: unset;
    }
  }


  &__date-wrap {
    display: flex;
    border-radius: 8px;
    border: 1px solid $color-main;
    width: 270px;
    min-height: 50px;

    @media (max-width:1100px) {
      flex: 1 1 48%;
    }

    @media (max-width:565px) {
      display: none;
    }
  }

  &__date-input {
    border: none;
    outline: none;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 8px;
    color: $color-main;
    box-sizing: border-box;
    overflow: hidden;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    @media (max-width:1100px) {
      flex: 1;
    }
  }

  &__button {
    padding: 16px 0;
    width: 213px;
    border-radius: 4px;
    border: none;
    color: $color-green;
    background-color: $color-main ;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.192px;
  }
}