.main-btn {
  color: $color-main;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.192px;

  border-radius: 4px;
  background: $color-green;

  border: none;
  cursor: pointer;

  &_size_s {
    padding: 12px 24px;
  }

  &_size_m {
    padding: 16px 36px;
  }
}